<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pratishruti</title>
    <link rel="icon" href="/logo.jpg">
    <link rel="stylesheet" href="/admin.css" />
  </head>
  <body>
    <form action="/" method="post">
      <div class="main">
        <div class="form">
          <div class="head">
            <h2>Admin Login</h2>
          </div>
          <div class="name">
            <label for="name">Name </label>
            <br />
            <input type="text" name="adminName" id="name" title="Enter Name" />
          </div>
          <div class="password">
            <label for="password">Password </label>
            <br />
            <input type="password" name="password" id="password" title="Enter Password" />
            <div class="checkbox">
              <input type="checkbox" id="checkbox">
              <label for="checkbox"> Show Password</label>
            </div>
          </div>
          <div class="submit">
            <button type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <script src="/adminApp.js"></script>
  </body>
</html>
