<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pratishruti</title>
    <link rel="icon" href="/logo.png">
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="contain">
      <div class="main">
        <div class="img">
          <img src="/Prat_Icon.png" alt="Prat_Icon">
        </div>
        <div class="button">
          <form action="/admin" method="get">
            <button type="submit">#FullPowerमें</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
